.hide-select {
    display: none;
}
.show-select {
    display: block;
}
#croppic {
    display: none;
    width: 512px!important;
    height: 512px!important;
}

textarea.materialize-textarea {
    min-height: 99px !important;
}

.stButton {
    display:none!important;
}