/*-- VIDEO PLAY --*/

a.video_pop_up {
    position:relative;
    display:block;
}

a.video_pop_up img {
    position: relative;
    z-index: 5;
}

.fancybox-title-float-wrap {
    bottom: 0;
    margin-bottom: 0;
    padding-top: 10px;
    position: relative;
}

.fancybox-wrap .cation {
    width: 100%;
    display: inline-block;
    padding: 0 15px 15px;
    background-color: #000;
    border-radius: 0 0 5px 5px;
    color: #fff;
    font-size: 12px;
}
